# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Editors & IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Node / Package Manager
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Temporary / Scratch Files
*.tmp
*.log
scratch/
.system_generated/
